.MainPage{
    background-color: yellow;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.RightSide{
    background-color: orange;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar{
    background-color: blue;
    width: 100%;
    height: 1%;
    position: fixed;
    top: 0;
}
.Welcome-Txt{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 20%;
}

.Submit-Txt{
    color: white;
    font-size: 20px;
    text-align: center;
}


.LeftSide{
    background-color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Sign-Txt{
    font-weight: bold;
    font-size: 20px;
    margin-top: 80px;
}

.New-Txt{
    color: #b5b5c3;
    display: flex;
}
.Create-Txt{
    color: orange;
    font-weight: bold;
    padding-left: 5px;
}

.form{
    width: 65%;
}
.Email-Input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #50cd89;
}

.Password-Top{
    display: flex;
}


@media only  screen and (max-width:990px){
    .MainPage{
        flex-direction: column;      
    }

    .RightSide{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .LeftSide{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;

    }
    .Svg{
        width: 100%;
        height: 100%;
    }
}

