.Card{
    box-shadow: 0px 0px 16px 1px #f2f2f2;
    width: 40%;
    height: 100%;
    border: 1px solid #eff2f5;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: transform .3s;
}

.Card:hover{
    transform: translateY(-10px);   
}
.Card-1{
    display: flex;
    justify-content: space-between;
}

.dotted{
    border: 1px solid gray;
    border-style: dashed;    
}
.Card-2{
    display: flex;
    justify-content: space-between;
}

.Opened{
    background-color: #50CD89;
    padding: 3px 18px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.Closed{
    background-color: #F1416C;
    padding: 3px 18px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.None{
    color: black;
    font-weight: bold;
}
@media only screen and (max-width:900px){
    .Card{
        width: 90%;
        height: 70%;
    }
}