.MainPage{
    background-color: yellow;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.LeftSide{
    background-color: #f2b91e;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    background-color: blue;
    width: 100%;
    height: 1%;
    position: absolute;
    top: 0;
}

.Welcome-Txt{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 20%;
}

.Submit-Txt{
    color: white;
    font-size: 20px;
    margin-top: 3%;
    text-align: center;
}

.RightSide{
    background-color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Sign-Txt{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    color: black;
}

.New-Txt{
    margin-top: 10px;
    color: #b5b5c3;
    display: flex;
}

.Create-Txt{
    color: #f2b91e;
    font-weight: bold;
    padding-left: 5px;
}

.form{
    width: 65%;
    height: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Email-Field{
    width: 103.2%;
}

.Email-Input{
    padding: 4px;
    width: 110%;
    padding-left: 12px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid gray;
}

.Email-Input-Valid{
    padding: 4px;
    width: 100%;
    padding-left: 12px;
    height: 30px;
    background-color: white;
    color: black;
    border: 1px solid #50cd89;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Email-Input-Bad{
    padding: 4px;
    padding-left: 12px;
    width: 100%;
    height: 30px;
    background-color: white;
    color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid tomato;
    border-right: none;
}

.Email-Input:focus{
    outline: none;
}
.Email-Input-Valid:focus{
    outline: none;
}
.Email-Input-Bad:focus{
    outline: none;
}

.Email-Input:hover{
    outline: none;
}

.Email-Input-Valid:hover{
    outline: none;
}

.Email-Input-Bad:hover{
    outline: none;
}

.Password-Input{
    width: 100%;
    height: 30px;
    padding: 4px;
    padding-left: 12px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid grey;
}

.Password-Input:focus{
    outline: none;
}

.Password-Top{
    display: flex;
    width: 100%;
    justify-content: space-between;    
}

.Email-Txt{
    color: black;
}

.Password-Txt{
    color: black;
}
.Forgot-Txt{
    color: black;
}

.Password-Field{
    height: 30%;
}

.empty{
    color: red;
}

.Email-Wrapper{
    display: flex;
    flex-direction: row-reverse;
  
}

.Icon{
    border: 1px solid;
    height: 30px;
    padding: 4px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #50cd89;
}

.Icon-Bad{
    border: 1px solid;
    height: 30px;
    padding: 4px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: tomato;
}
.Btn{
    background-color: rgb(24, 28, 50);
    color: white;
}
.Btn:hover{
    background-color: rgba(24,28,50,0.85);
}

@media only  screen and (max-width:990px){
    .MainPage{
        flex-direction: column;      
    }

    .RightSide{
        width: 100%;
        height: 62%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
   .Sign-Txt{
    margin-top: 0px;
   }
    
   .LeftSide{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;

    }
   
    .Submit-Txt{
        margin-top: 30px;
    }
   
    .Svg{
        width: 100%;
        height: 80%;
    }
   
    .form{
        height: 55%;
        width: 80%;
        
    }
    .Btn{
        margin-top: 35px;
    }
}

