.Home-Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Student-Home{
    height: 100vh;
}

.Card-Section{
    justify-content: center;
    align-items: center;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


@media only screen and (max-width:900px){
    .Student-Home{
        height: 120vh;
        background-color: white;
    }
    .Card-Section{
        height: 25%;
    }
}